
.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  color: grey;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  font-size: 18px;
  line-height: normal;
  word-break: break-word;
}

.message-content {
  flex: 8;
  padding: 10px;
  background: white;
  border-radius: 0 10px 10px 10px;
}

.message-content.curr-user {
  background: tomato;
  color: white;
  border-radius: 10px 0 10px 10px;
}

.message-username {
  flex: 4;
  font-weight: 700;
  text-align: right;
}

.message-username.curr-user {
  text-align: left;
}

.message img {
  max-width: 100%;
}